doctype html
html
    head
        <script src="https://kit.fontawesome.com/bc57e52b80.js"></script>
        title #{pageTitle} | #{siteName}
    body
        include ../partials/header
        main
            block content
        include ../partials/footer
        
            