extends layouts/main

block content
    .upload
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
            input(type="text", placeholder="Title", name="title", required=true)
            input(type="file", id="file", name="videoFile", required=true, accept="video/*")
            textarea(name="description", placeholder=" Description", required=true)
            input(type="submit", value="Upload Video")
