mixin videoPlayer(video={})
    .videoPlayer#jsVideoPlayer
        video(src=`/${video.src}`)
        .videoPlayer__controls
            .videoPlayer__column
                div#jsPlayBtn
                    i.fas.fa-play
                input(type="range", min='0', max='1', step='0.1', value='0.5').volumeBar#jsvolumeBar
                div#jsVolumeBtn.volumeBtn
                    i.fas.fa-volume-up
                div.videoPlayer__column__time
                    span#jsCurrentTime 00:00:00
                    |   /  
                    span#jsTotalTime 00:00:00
            .videoPlayer__column
                div#jsExpandBtn
                    i.fas.fa-expand